MAIL_LOGIN=""
MAIL_PASSWORD=""
MAIL_IMAP=""
MAIL_PORT=
MAIL_FOLDER="Backup"
MAIL_SSL_VERIFY=true

SMTP_HOST=""
SMTP_PORT=
SMTP_LOGIN=""
SMTP_PASSWORD=""
SMTP_RECIPIENTS=""
SMTP_NOTIFY_ON="error,warning"

DB_PATH="./data/database.db"

LOG_LEVEL=INFO
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"
LOG_DIR=./logs
LOG_TO_FILE=true
LOG_FILENAME=bot_{date}_{time}.log

API_HOST=0.0.0.0
API_PORT=8000
